{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'images/resume1.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume2.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume3.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume4.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume5.png' %}" alt="Christopher Jantzi's Resume Page 1">
{% endblock %}
