{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!--
    <address class="contact_info">
        <h2>Christopher Jantzi</h2>
        <p>Charlottesville, VA | <a href="mailto:jantzicj@gmail.com">jantzicj@gmail.com</a> | <a href="+13606493097">360-649-3097</a></p>
        <p><a href="https://decoherentdoc.pythonanywhere.com/">decoherentdoc.pythonanywhere.com</a> | <a href="https://www.linkedin.com/in/christopher-jantzi/">linkedin.com/in/christopher-jantzi</a></p>
    </address>
    <section class=contact_info>
        
    </section>
    <section class=contact_info>
        
    </section>
    <section class=contact_info>
        
    </section>
    <section class=contact_info>
        
    </section>
    <section class=contact_info>
        
    </section>
    -->
    <img src="{% static 'images/resume1.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume2.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume3.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume4.png' %}" alt="Christopher Jantzi's Resume Page 1">
    <img src="{% static 'images/resume5.png' %}" alt="Christopher Jantzi's Resume Page 1">
{% endblock %}
