/* 
background-color: #C25100;




headers probably white or black depending on background


From the tutorial
burnt orange    #c25100

From a picture of Cherenkov radiation, first pic on this IAEA page --> (https://www.iaea.org/newscenter/news/what-is-cherenkov-radiation)
    From light to dark:
    --white:            #ffffff;
    --electric-aqua:    #81F5FD; --> light1
    --deep-sky-blue:    #49C4FE; --> light2
    --neutral-gray:     #828282; --> gray
    --laser-blue:       #0B5DE4; --> dark1
    --french-blue:      #074190; --> dark2
    --black:            #000000;

Can define variables. Global in ":root{}" and local in ":note{}"

*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400&display=swap');

:root {
    --thisColor: #0B5DE4;
    --white: #ffffff;
    --gray: #828282;
    --black: #000000;
    --light1: #81F5FD;
    --light2: #49C4FE;
    --dark1: #0B5DE4;
    --dark2: #074190;
    --hLarge-font: 'EB Garamond', serif;
    --hSmall-font: 'Lora', serif;
    --tNormal-font: 'Hind Madurai', sans-serif;
}

h1,
h2 {
    font-family: var(--hLarge-font);  
}

h3,
h4 {
    font-family: var(--hSmall-font);
}

.page-header {
    background-color: var(--dark1);
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: var(--white);
    font-weight: bold;
    font-size: 36pt;
    text-decoration: none;
}

.date {
    color: var(--gray);
}

.save {
    float: right;
}

.news_item-form textarea, .news_item-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: var(--white);
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.news_list, .news_item {
    margin-bottom: 70px;
}

.news_list h2 a,
.news_list h2 a:visited {
    color: var(--black);
}

.news_list > .date,
.news_list > .actions,
.news_item > .actions {
    float: right;
}


.btn-secondary,
.btn-secondary:visited {
    color: var(--dark1);
    background: none;
    border-color: var(--dark1);
    margin-left: 15px;
}

.btn-secondary:hover {
    color: var(--white);
    background-color: var(--dark1);
}